nav {
  padding: 1em 2em;
  box-shadow: 0 1.2em 2em rgba(129, 129, 129, 0.24);
  position: sticky;
  top: 0;
  background: #000;
  z-index: 1;
}

.header {
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header a img {
  width: 35px;
}

.nav-link {
  font-size: 25px;
}
.nav-link::first-letter {
  color: green;
}

/* .header button {
  background-color: #e80271;
  cursor: pointer;
  padding: 1em 1.5em;
  border: 1px solid #2b3045;
  font-size: 15px;
  color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header button:hover {
  background-color: rgba(255, 255, 255, 0.04) !important;
  transition-duration: 600ms;
} */
