form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.3em;
  width: 80%;
  max-width: 40rem;
  /* border: 2px solid; */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  padding: 3rem;
  box-shadow: inset 0px 1.2em 2em rgba(255, 217, 0, 0.208);
  border-radius: 5px;
}

form > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2em;
  padding: 1.2em;
}

form > div input {
  width: 100%;
  background: none;
  border: 1px solid white;
  outline: none;
  padding: 1.2em;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

form > div:nth-child(2) {
  justify-content: center;
  rotate: 90deg;
}

form > div p {
    background-color: burlywood;
    color: brown;
    padding: 5px;
}

form > div select {
    padding: 5px;
    background: burlywood;
    cursor: pointer;
    outline: none;
    border: none;

}