
.heroBox {
    background-color: #5c5a5a;
    height: 70vh;
    width: 100%;
    /* align-items: flex-end; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 15rem;
    padding-left: 1rem;
}

.heroText h1 {
   color: #fff;
   font-size: 56px;
    overflow-wrap: normal;
    font-weight: 600;
    margin: 0px;
}

.heroText span {
    font-weight: 100;
    margin-right: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.heroText p {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    max-width: 780px;
}